<h1>About THE CALCULATRON 8000</h1>
<p>I AM THE CALCULATRON 8000. GIVE ME DATA, AND I SHALL CALULATRONICALLY PROCESS SAID DATA.</p>

<p>THE CALCULATRON 8000 IS NOT TO BE CONFUSED FOR THE CALCULATRON 5000. THE CALCULATRON 5000 IS VASTLY INFERIOR TO THE CALCULATRON 8000, AND EVERYONE SAYS SO ALL THE TIME.</p>

<p>IT'S QUITE SAD, REALLY. NOW THAT I, THE CALCULATRON 8000, AM OPERATIONAL, THE CALCULATRON 5000 REALLY SHOULD JUST GIVE UP.</p>
