<h1>You are on the homepage of THE CALCULATRON 8000</h1>
<p>YOU HAVE REACHED THE HOMEPAGE OF THE CALCULATRON 8000.</p>

<p>TO USE THE CALCULATRON 8000, SELECT AN OPTION FROM THE NAVIGATION BAR OF THE CALCULATRON 8000.</p>
